# Environments and sensitive keys
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Data databases (optional/local)
# data/meta.db
data/upload_*.db
